:root {
    --bg: #ffffff;
    --text: #000000;
    --nav-bg:#333333;
    --nav-text: #ffffff;
    --card: #f4f4f4;
}

body.dark {
    --bg: #121212;
    --text: #ffffff;
    --nav-bg: #1e1e1e;
    --nav-text: #ffffff;
    --card: #2a2a2a;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0;
}

.navbar{
    display: flex;
    justify-content: space-between; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    padding: 15px 40px;
    gap: 20px; /* Adds space between the navbar options */
    background: var(--nav-bg);
    color: var(--nav-text);
    transition: background 0.3s ease;
}

.nav-left a {
    color: var(--nav-text);
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;

}
.nav-left a:hover {
    opacity: 0.6;
}

/* Toggle Switch Styling */

.theme-toggle {
    display: flex;
    align-items: center;
}

/* Hide default checkbox */

#theme-switch {
    display: none;
}

/* Toggle background */
.toggle-label {
    width: 50px;
    height: 25px;
    background: var(--card);
    display: block;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Toggle ball*/
.toggle-ball {
    width: 21px;
    height: 21px;
    background: var(--text);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/* When checked */
#theme-switch:checked + .toggle-label .toggle-ball {
    transform: translateX(25px);
}

.CenterAlign{
    text-align: center;
}

button{
    background-color: rgb(0, 0, 0);

    border-radius: 16px;
}

.button1{
    border: 5px solid;
    border-color: rgb(255, 255, 255);
    text: white;
}

.sdz-hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

/* Video background */
.sdz-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Optional dark overlay (makes text readable) */
.sdz-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
  z-index: 2;
}

/* Content */
.sdz-content {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  top: 40%;
  transform: translateY(-50%);
  opacity: 0;
  animation: sdz-fadeUp 1s ease forwards;
}

@keyframes sdz-fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.sdz-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.sdz-content {
  transition: opacity 0.3s ease, transform 0.3s ease;
}